<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>疫情地图展示</title>
  <style>
    #myEcharts {
      width: 1300px;
      height: 800px;
      border: solid 1px red;
      margin: 0 auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  </style>
  <script src="../../lib/echarts.min.js"></script>
  <script src="../../lib/china.js" charset="utf-8"></script>
  <script src="../../lib/jquery-3.1.1-min.js"></script>
  <script src="../../lib/bootstrap.min.js"></script>
  <script src="index.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <link rel='stylesheet' type='text/css' href='../../lib/bootstrap.min.css' />


</head>

<body>
  <div id="myEcharts"></div>
  <script>
    $(() => {
      let myChart = echarts.init($('#myEcharts')[0]);
      option = fillData();
      myChart.setOption(option);
      myChart.on('click', (params) => {
        console.log(params);
      })
    })
  </script>
</body>

</html>